In [1]:
from pathlib import Path
import pandas as pd

In [2]:
#read in CSV of presidential restuls from 2000 through 2020
data = Path('/Users/kristin/Documents/Project_4/Resources/countypres_2000-2020.csv')
df = pd.read_csv(data)
df.head()

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL
1,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL
2,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL
3,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,OTHER,OTHER,113,17208,20220315,TOTAL
4,2000,ALABAMA,AL,BALDWIN,1003.0,US PRESIDENT,AL GORE,DEMOCRAT,13997,56480,20220315,TOTAL

In [3]:
#drop unnecessary columns
df_dropped = df.drop(['state_po', 'county_fips', 'version', 'mode'], axis=1)
df_dropped

,year,state,county_name,office,candidate,party,candidatevotes,totalvotes
0,2000,ALABAMA,AUTAUGA,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208
1,2000,ALABAMA,AUTAUGA,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208
2,2000,ALABAMA,AUTAUGA,US PRESIDENT,RALPH NADER,GREEN,160,17208
3,2000,ALABAMA,AUTAUGA,US PRESIDENT,OTHER,OTHER,113,17208
4,2000,ALABAMA,BALDWIN,US PRESIDENT,AL GORE,DEMOCRAT,13997,56480
...,...,...,...,...,...,...,...,...
72612,2020,WYOMING,WASHAKIE,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,3245,4032
72613,2020,WYOMING,WESTON,US PRESIDENT,JOSEPH R BIDEN JR,DEMOCRAT,360,3560
72614,2020,WYOMING,WESTON,US PRESIDENT,JO JORGENSEN,LIBERTARIAN,46,3560
72615,2020,WYOMING,WESTON,US PRESIDENT,OTHER,OTHER,47,3560
72616,2020,WYOMING,WESTON,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,3107,3560

In [4]:
#drop parties other than democrat or republican
df_binary = df_dropped[df_dropped['party'].isin(['DEMOCRAT', 'REPUBLICAN'])]
df_binary

,year,state,county_name,office,candidate,party,candidatevotes,totalvotes
0,2000,ALABAMA,AUTAUGA,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208
1,2000,ALABAMA,AUTAUGA,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208
4,2000,ALABAMA,BALDWIN,US PRESIDENT,AL GORE,DEMOCRAT,13997,56480
5,2000,ALABAMA,BALDWIN,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,40872,56480
8,2000,ALABAMA,BARBOUR,US PRESIDENT,AL GORE,DEMOCRAT,5188,10395
...,...,...,...,...,...,...,...,...
72608,2020,WYOMING,UINTA,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,7496,9459
72609,2020,WYOMING,WASHAKIE,US PRESIDENT,JOSEPH R BIDEN JR,DEMOCRAT,651,4032
72612,2020,WYOMING,WASHAKIE,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,3245,4032
72613,2020,WYOMING,WESTON,US PRESIDENT,JOSEPH R BIDEN JR,DEMOCRAT,360,3560
72616,2020,WYOMING,WESTON,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,3107,3560

In [5]:
#create df for just PA results
pa_df = df_binary.loc[(df_binary['state'] == "PENNSYLVANIA")]
pa_df

,year,state,county_name,office,candidate,party,candidatevotes,totalvotes
8856,2000,PENNSYLVANIA,ADAMS,US PRESIDENT,AL GORE,DEMOCRAT,11682,33433
8857,2000,PENNSYLVANIA,ADAMS,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,20848,33433
8860,2000,PENNSYLVANIA,ALLEGHENY,US PRESIDENT,AL GORE,DEMOCRAT,329963,582478
8861,2000,PENNSYLVANIA,ALLEGHENY,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,235361,582478
8864,2000,PENNSYLVANIA,ARMSTRONG,US PRESIDENT,AL GORE,DEMOCRAT,11127,27423
...,...,...,...,...,...,...,...,...
63956,2020,PENNSYLVANIA,WESTMORELAND,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,130218,204697
63957,2020,PENNSYLVANIA,WYOMING,US PRESIDENT,JOSEPH R BIDEN JR,DEMOCRAT,4704,14858
63959,2020,PENNSYLVANIA,WYOMING,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,9936,14858
63960,2020,PENNSYLVANIA,YORK,US PRESIDENT,JOSEPH R BIDEN JR,DEMOCRAT,88114,238471
63962,2020,PENNSYLVANIA,YORK,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,146733,238471

In [6]:
# group by year, state, and county_name and find the candidate with the highest votes
pa_winners_df = pa_df.loc[pa_df.groupby(['year', 'state', 'county_name'])['candidatevotes'].idxmax()]

# Display the winners
pa_winners_df

,year,state,county_name,office,candidate,party,candidatevotes,totalvotes
8857,2000,PENNSYLVANIA,ADAMS,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,20848,33433
8860,2000,PENNSYLVANIA,ALLEGHENY,US PRESIDENT,AL GORE,DEMOCRAT,329963,582478
8865,2000,PENNSYLVANIA,ARMSTRONG,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,15508,27423
8868,2000,PENNSYLVANIA,BEAVER,US PRESIDENT,AL GORE,DEMOCRAT,38925,73593
8873,2000,PENNSYLVANIA,BEDFORD,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,13598,19435
...,...,...,...,...,...,...,...,...
63950,2020,PENNSYLVANIA,WASHINGTON,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,72080,118478
63953,2020,PENNSYLVANIA,WAYNE,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,18637,28089
63956,2020,PENNSYLVANIA,WESTMORELAND,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,130218,204697
63959,2020,PENNSYLVANIA,WYOMING,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,9936,14858
63962,2020,PENNSYLVANIA,YORK,US PRESIDENT,DONALD J TRUMP,REPUBLICAN,146733,238471

In [7]:
#drop state column
pa_winners_df = pa_winners_df.drop(['state', 'office', 'candidate', 'candidatevotes', 'totalvotes'], axis=1)
pa_winners_df

       year   county_name       party
8857   2000         ADAMS  REPUBLICAN
8860   2000     ALLEGHENY    DEMOCRAT
8865   2000     ARMSTRONG  REPUBLICAN
8868   2000        BEAVER    DEMOCRAT
8873   2000       BEDFORD  REPUBLICAN
...     ...           ...         ...
63950  2020    WASHINGTON  REPUBLICAN
63953  2020         WAYNE  REPUBLICAN
63956  2020  WESTMORELAND  REPUBLICAN
63959  2020       WYOMING  REPUBLICAN
63962  2020          YORK  REPUBLICAN

[402 rows x 3 columns]

In [8]:
#change the party column data to 0 and 1 
pa_winners_df['party'] = pa_winners_df['party'].replace({'DEMOCRAT': 0, 'REPUBLICAN': 1})
pa_winners_df

       year   county_name  party
8857   2000         ADAMS      1
8860   2000     ALLEGHENY      0
8865   2000     ARMSTRONG      1
8868   2000        BEAVER      0
8873   2000       BEDFORD      1
...     ...           ...    ...
63950  2020    WASHINGTON      1
63953  2020         WAYNE      1
63956  2020  WESTMORELAND      1
63959  2020       WYOMING      1
63962  2020          YORK      1

[402 rows x 3 columns]

In [9]:
#rename column name for winning party for clarification 
pa_winners_df = pa_winners_df.rename(columns = {'party':'winning_party D:0 R:1'})
pa_winners_df

       year   county_name  winning_party D:0 R:1
8857   2000         ADAMS                      1
8860   2000     ALLEGHENY                      0
8865   2000     ARMSTRONG                      1
8868   2000        BEAVER                      0
8873   2000       BEDFORD                      1
...     ...           ...                    ...
63950  2020    WASHINGTON                      1
63953  2020         WAYNE                      1
63956  2020  WESTMORELAND                      1
63959  2020       WYOMING                      1
63962  2020          YORK                      1

[402 rows x 3 columns]

In [10]:
#separate out winners for 2012
pa_winners_df_2012 = pa_winners_df[pa_winners_df['year'] == 2012]
pa_winners_df_2012

       year   county_name  winning_party D:0 R:1
37812  2012         ADAMS                      1
37814  2012     ALLEGHENY                      0
37818  2012     ARMSTRONG                      1
37821  2012        BEAVER                      1
37824  2012       BEDFORD                      1
...     ...           ...                    ...
37998  2012    WASHINGTON                      1
38001  2012         WAYNE                      1
38004  2012  WESTMORELAND                      1
38007  2012       WYOMING                      1
38010  2012          YORK                      1

[67 rows x 3 columns]

In [11]:
# Drop rows for counties that we do not have iformation on 
rows_to_drop = ['BEDFORD', 'BRADFORD', 'CAMERON', 'CLARION', 'CLINTON', 'ELK', 'FOREST',
                'FULTON', 'GREENE', 'HUNTINGDON', 'JEFFERSON', 'JUNIATA', 'MCKEAN', 'MIFFLIN', 'MONTOUR',
                'PERRY', 'PIKE', 'POTTER', 'SNYDER', 'SULLIVAN', 'SUSQUEHANNA', 'TIOGA',
                'UNION', 'VENANGO', 'WARREN', 'WAYNE', 'WYOMING']

#print the cleaned dataframe and reset the index
cleaned_pa_winners_df_2012 = pa_winners_df_2012[~pa_winners_df_2012['county_name'].isin(rows_to_drop)]
cleaned_pa_winners_df_2012 = cleaned_pa_winners_df_2012.reset_index(drop=True)
cleaned_pa_winners_df_2012

    year     county_name  winning_party D:0 R:1
0   2012           ADAMS                      1
1   2012       ALLEGHENY                      0
2   2012       ARMSTRONG                      1
3   2012          BEAVER                      1
4   2012           BERKS                      1
5   2012           BLAIR                      1
6   2012           BUCKS                      0
7   2012          BUTLER                      1
8   2012         CAMBRIA                      1
9   2012          CARBON                      1
10  2012          CENTRE                      0
11  2012         CHESTER                      1
12  2012      CLEARFIELD                      1
13  2012        COLUMBIA                      1
14  2012        CRAWFORD                      1
15  2012      CUMBERLAND                      1
16  2012         DAUPHIN                      0
17  2012        DELAWARE                      0
18  2012            ERIE                      0
19  2012         FAYETTE                      1
20  2012        FRANKLIN                      1
21  2012         INDIANA                      1
22  2012      LACKAWANNA                      0
23  2012       LANCASTER                      1
24  2012        LAWRENCE                      1
25  2012         LEBANON                      1
26  2012          LEHIGH                      0
27  2012         LUZERNE                      0
28  2012        LYCOMING                      1
29  2012          MERCER                      1
30  2012          MONROE                      0
31  2012      MONTGOMERY                      0
32  2012     NORTHAMPTON                      0
33  2012  NORTHUMBERLAND                      1
34  2012    PHILADELPHIA                      0
35  2012      SCHUYLKILL                      1
36  2012        SOMERSET                      1
37  2012      WASHINGTON                      1
38  2012    WESTMORELAND                      1
39  2012            YORK                      1

In [12]:
#separate out winners for 2016
pa_winners_df_2016 = pa_winners_df[pa_winners_df['year'] == 2016]
pa_winners_df_2016

       year   county_name  winning_party D:0 R:1
47163  2016         ADAMS                      1
47165  2016     ALLEGHENY                      0
47169  2016     ARMSTRONG                      1
47172  2016        BEAVER                      1
47175  2016       BEDFORD                      1
...     ...           ...                    ...
47349  2016    WASHINGTON                      1
47352  2016         WAYNE                      1
47355  2016  WESTMORELAND                      1
47358  2016       WYOMING                      1
47361  2016          YORK                      1

[67 rows x 3 columns]

In [13]:
# Drop rows for counties that we do not have iformation on 
rows_to_drop = ['BEDFORD', 'BRADFORD', 'CAMERON', 'CLARION', 'CLINTON', 'ELK', 'FOREST',
                'FULTON', 'GREENE', 'HUNTINGDON', 'JEFFERSON', 'JUNIATA', 'MCKEAN', 'MIFFLIN', 'MONTOUR',
                'PERRY', 'PIKE', 'POTTER', 'SNYDER', 'SULLIVAN', 'SUSQUEHANNA', 'TIOGA',
                'UNION', 'VENANGO', 'WARREN', 'WAYNE', 'WYOMING']

#print the cleaned dataframe and reset the index
cleaned_pa_winners_df_2016 = pa_winners_df_2016[~pa_winners_df_2016['county_name'].isin(rows_to_drop)]
cleaned_pa_winners_df_2016 = cleaned_pa_winners_df_2016.reset_index(drop=True)
cleaned_pa_winners_df_2016

    year     county_name  winning_party D:0 R:1
0   2016           ADAMS                      1
1   2016       ALLEGHENY                      0
2   2016       ARMSTRONG                      1
3   2016          BEAVER                      1
4   2016           BERKS                      1
5   2016           BLAIR                      1
6   2016           BUCKS                      0
7   2016          BUTLER                      1
8   2016         CAMBRIA                      1
9   2016          CARBON                      1
10  2016          CENTRE                      0
11  2016         CHESTER                      0
12  2016      CLEARFIELD                      1
13  2016        COLUMBIA                      1
14  2016        CRAWFORD                      1
15  2016      CUMBERLAND                      1
16  2016         DAUPHIN                      0
17  2016        DELAWARE                      0
18  2016            ERIE                      1
19  2016         FAYETTE                      1
20  2016        FRANKLIN                      1
21  2016         INDIANA                      1
22  2016      LACKAWANNA                      0
23  2016       LANCASTER                      1
24  2016        LAWRENCE                      1
25  2016         LEBANON                      1
26  2016          LEHIGH                      0
27  2016         LUZERNE                      1
28  2016        LYCOMING                      1
29  2016          MERCER                      1
30  2016          MONROE                      0
31  2016      MONTGOMERY                      0
32  2016     NORTHAMPTON                      1
33  2016  NORTHUMBERLAND                      1
34  2016    PHILADELPHIA                      0
35  2016      SCHUYLKILL                      1
36  2016        SOMERSET                      1
37  2016      WASHINGTON                      1
38  2016    WESTMORELAND                      1
39  2016            YORK                      1

In [14]:
#separate out winners for 2020
pa_winners_df_2020 = pa_winners_df[pa_winners_df['year'] == 2020]
pa_winners_df_2020

       year   county_name  winning_party D:0 R:1
63764  2020         ADAMS                      1
63765  2020     ALLEGHENY                      0
63770  2020     ARMSTRONG                      1
63773  2020        BEAVER                      1
63776  2020       BEDFORD                      1
...     ...           ...                    ...
63950  2020    WASHINGTON                      1
63953  2020         WAYNE                      1
63956  2020  WESTMORELAND                      1
63959  2020       WYOMING                      1
63962  2020          YORK                      1

[67 rows x 3 columns]

In [15]:
# Drop rows for counties that we do not have iformation on 
rows_to_drop = ['BEDFORD', 'BRADFORD', 'CAMERON', 'CLARION', 'CLINTON', 'ELK', 'FOREST',
                'FULTON', 'GREENE', 'HUNTINGDON', 'JEFFERSON', 'JUNIATA', 'MCKEAN', 'MIFFLIN', 'MONTOUR',
                'PERRY', 'PIKE', 'POTTER', 'SNYDER', 'SULLIVAN', 'SUSQUEHANNA', 'TIOGA',
                'UNION', 'VENANGO', 'WARREN', 'WAYNE', 'WYOMING']

#print the cleaned dataframe and reset the index
cleaned_pa_winners_df_2020 = pa_winners_df_2020[~pa_winners_df_2020['county_name'].isin(rows_to_drop)]
cleaned_pa_winners_df_2020 = cleaned_pa_winners_df_2020.reset_index(drop=True)
cleaned_pa_winners_df_2020

    year     county_name  winning_party D:0 R:1
0   2020           ADAMS                      1
1   2020       ALLEGHENY                      0
2   2020       ARMSTRONG                      1
3   2020          BEAVER                      1
4   2020           BERKS                      1
5   2020           BLAIR                      1
6   2020           BUCKS                      0
7   2020          BUTLER                      1
8   2020         CAMBRIA                      1
9   2020          CARBON                      1
10  2020          CENTRE                      0
11  2020         CHESTER                      0
12  2020      CLEARFIELD                      1
13  2020        COLUMBIA                      1
14  2020        CRAWFORD                      1
15  2020      CUMBERLAND                      1
16  2020         DAUPHIN                      0
17  2020        DELAWARE                      0
18  2020            ERIE                      0
19  2020         FAYETTE                      1
20  2020        FRANKLIN                      1
21  2020         INDIANA                      1
22  2020      LACKAWANNA                      0
23  2020       LANCASTER                      1
24  2020        LAWRENCE                      1
25  2020         LEBANON                      1
26  2020          LEHIGH                      0
27  2020         LUZERNE                      1
28  2020        LYCOMING                      1
29  2020          MERCER                      1
30  2020          MONROE                      0
31  2020      MONTGOMERY                      0
32  2020     NORTHAMPTON                      0
33  2020  NORTHUMBERLAND                      1
34  2020    PHILADELPHIA                      0
35  2020      SCHUYLKILL                      1
36  2020        SOMERSET                      1
37  2020      WASHINGTON                      1
38  2020    WESTMORELAND                      1
39  2020            YORK                      1

In [16]:
#merge the three years together
combined_county_results = pd.concat([cleaned_pa_winners_df_2012, cleaned_pa_winners_df_2016, cleaned_pa_winners_df_2020], ignore_index=True)
combined_county_results

     year   county_name  winning_party D:0 R:1
0    2012         ADAMS                      1
1    2012     ALLEGHENY                      0
2    2012     ARMSTRONG                      1
3    2012        BEAVER                      1
4    2012         BERKS                      1
..    ...           ...                    ...
115  2020    SCHUYLKILL                      1
116  2020      SOMERSET                      1
117  2020    WASHINGTON                      1
118  2020  WESTMORELAND                      1
119  2020          YORK                      1

[120 rows x 3 columns]

In [17]:
#clean up the column names to match the county attributes df that it will be joined with
combined_county_results_clean = combined_county_results.rename(columns = {'year':'Year', 'county_name': 'County'})
combined_county_results_clean

     Year        County  winning_party D:0 R:1
0    2012         ADAMS                      1
1    2012     ALLEGHENY                      0
2    2012     ARMSTRONG                      1
3    2012        BEAVER                      1
4    2012         BERKS                      1
..    ...           ...                    ...
115  2020    SCHUYLKILL                      1
116  2020      SOMERSET                      1
117  2020    WASHINGTON                      1
118  2020  WESTMORELAND                      1
119  2020          YORK                      1

[120 rows x 3 columns]

In [18]:
# Export the DataFrame as a CSV file. 
combined_county_results_clean.to_csv("Resources/combined_county_results_clean.csv", encoding='utf8', index=False)